.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-black);
  padding: 1rem 2rem;
}

.app__navbar-logo {
  display: flex;
  align-items: center;
}

.app__navbar-logo a img {
  width: 150px;
}

.app__navbar-links {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  list-style: none;
  column-gap: 2rem;
}

.app__navbar-links li {
  cursor: pointer;
}

.app__navbar-links li:hover {
  color: var(--color-grey);
}

.app__navbar-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 1rem;
}

.app__navbar-login a {
  transition: 0.5s ease;
}

.app__navbar-login a:hover {
  border-bottom: 1px solid var(--color-golden);
}

.app__navbar-login div {
  width: 1px;
  height: 30px;
  background-color: var(--color-grey);
}

.app__navbar-smallscreen {
  display: none;
}

.app__navbar-smallscreen_overlay {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-black);
  flex-direction: column;
  z-index: 5;
  padding: 2rem 1rem;
}

.app__navbar-smallscreen .overlay__open {
  cursor: pointer;
}

.app__navbar-smallscreen_overlay .overlay__close {
  font-size: 24px;
  color: var(--color-golden);
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 10px;
}

.app__navbar-smallscreen-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  margin-top: 2rem;
}

.app__navbar-smallscreen-links li {
  font-family: var(--font-base);
  color: var(--color-golden);
  cursor: pointer;
  font-size: 2rem;
}

.app__navbar-smallscreen-links li:hover {
  color: var(--color-white);
}

@media (max-width: 2000px) {
  .app__navbar-logo a img {
    width: 210px;
  }
}

@media (max-width: 1150px) {
  .app__navbar-links {
    display: none;
  }

  .app__navbar-smallscreen {
    display: flex;
  }
}

@media (max-width: 650px) {
  .app__navbar-logo a img {
    width: 110px;
  }

  .app__navbar-login {
    display: none;
  }

  .app__navbar-smallscreen_overlay .overlay__close {
    font-size: 1.2rem;
  }

  .app__navbar-smallscreen-links li {
    font-size: 1.5rem;
  }
}
